<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="center">
      <h2 data-cy="centerDetailsHeading"><span jhiTranslate="gatewaydbApp.centredbCenter.detail.title">Center</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ center.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewaydbApp.centredbCenter.deccent">Deccent</span></dt>
        <dd>
          <span>{{ center.deccent }}</span>
        </dd>
        <dt><span jhiTranslate="gatewaydbApp.centredbCenter.delcent">Delcent</span></dt>
        <dd>
          <span>{{ center.delcent }}</span>
        </dd>
        <dt><span jhiTranslate="gatewaydbApp.centredbCenter.delcentfr">Delcentfr</span></dt>
        <dd>
          <span>{{ center.delcentfr }}</span>
        </dd>
        <dt><span jhiTranslate="gatewaydbApp.centredbCenter.deadrce">Deadrce</span></dt>
        <dd>
          <span>{{ center.deadrce }}</span>
        </dd>
        <dt><span jhiTranslate="gatewaydbApp.centredbCenter.deobser">Deobser</span></dt>
        <dd>
          <span>{{ center.deobser }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/center', center.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
